@mixin icon($height, $width) {
  transition-duration: 0.3s;
  position: absolute;
  height: $height;
  width: $width;
  background-color: transparent;
}

@mixin icon-before($height, $width, $top) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  background-color: #000;
  transition-duration: 0.3s;
}

@mixin icon-after($height, $width, $top) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  background-color: #000;
  transition-duration: 0.3s;
}

.hamburger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  z-index: 8;

  .icon {
    @include icon(4px, 0);

    &:before {
      @include icon-before(4px, 30px, -5px);
    }

    &:after {
      @include icon-after(4px, 30px, 5px);
    }
  }

  &.open {
    .icon {
      transition-duration: 0.5s;

      &:before {
        top: 0;
        transform: rotateZ(150deg);
      }

      &:after {
        top: 0;
        transform: rotateZ(-150deg);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
