.home-cover {
  position: relative;
  height: 100%;

  img.background-image {
    opacity: 20%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;

    .opacity-container {
      width: 600px;
      margin-bottom: 100px;

      h1 {
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}

@media (max-width: 650px) {
  .home-cover {
    .container {

      .opacity-container {
        width: 100%;
        margin-bottom: 50px;
        padding-inline: 20px;
      }
    }
  }
}