<div class="home-cover">
  <img
    src="../../../../../assets/images/foto-de-capa.png"
    class="background-image"
  />
  <div class="container">
    <div class="opacity-container">
      <h1>Queres <b>jogar</b> já no próximo <b>fim de semana ?</b></h1>
    </div>
    <button class="action-button"><h5>Regista-te Já</h5></button>
  </div>
</div>
