.container {
  padding-block: 100px;
  align-items: flex-start;

  .content {
    display: flex;
    gap: 30px;
    margin-top: 50px;

    img {
      width: 50%;
    }

    p {
      text-align: justify;
    }
  }
}

@media (max-width: 650px) {
  .container {
    align-items: center;

    h1 {
      text-align: center;
    }

    .content {
      flex-direction: column;

      img {
        width: 100%;
      }
    }
  }
}
