@import "../styles/colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: #fff;
  background-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background: #000;

  button {
    border: none;
    text-transform: uppercase;

    &:hover {
      @extend .cursor-pointer;
    }

    // This way we guarantee that we click on the button selector not in inside elements
    > * {
      pointer-events: none;
    }
  }

  .cursor-pointer:hover {
    cursor: pointer;
  }

  a {
    @extend .cursor-pointer;
    text-decoration: none;
  }

  h1 {
    font-weight: 500;
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 20px;
  }

  .font-medium {
    font-weight: 500;
  }
  .font-semibold {
    font-weight: 600;
  }
  .font-bold {
    font-weight: 700;
  }

  .font-regular {
    font-weight: 400;
  }
  .font-extrabold {
    font-weight: 800;
  }
}

// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
select,
option ::placeholder {
  color: #fff;
  margin: 0;
  font-family: "montserrat";
}

span {
  margin: 0;
  font-family: "montserrat";
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 650px) {
  h1 {
    font-size: 32px !important;
  }
}
