.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 1440px;
}

@media only screen and (min-width: 541px) {
  .container {
    padding-inline: 60px;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    padding-inline: 20px;
  }
}

.stop-scrolling {
  overflow: hidden;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.text-decoration-none {
  text-decoration: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;

  &[disabled] {
    opacity: 0.6;
  }
}

// Base Button ( His properties are used in almost every button)
button.action-button {
  width: 221px;
  color: #fff;
  background-color: $stg-green;
}

.rotate90deg {
  transform: rotate(90deg);
}
